.subscription-container {
     font-family: Arial, sans-serif;
     max-width: 800px;
     margin: 20px auto;
     text-align: center;
     color: white;
     /* background-color: #333; */
     padding: 20px;
     border-radius: 8px;
   }
   
   .subscription-title {
     margin-bottom: 30px;
     font-weight: 900px;
   }
   
   .subscription-table {
     width: 100%;
     margin: auto;
     border-collapse: collapse;
   }
   
   .subscription-header th {
     border: 1px solid #ccc;
     padding: 10px;
     text-align: center;
     background-image: linear-gradient(90deg, #0f0c29, #1e1578, #24243e)
     /* background-color: #444; */
   }
   
   .subscription-row td {
     border: 1px solid #ccc;
     padding: 10px;
     text-align: center;
   }
   
   .subscription-row input[type="radio"] {
     margin-right: 10px;
   }
   
   .subscription-advice {
     margin-top: 20px;
     font-size: 0.9em;
   }
   .side-heading {
     border: none;
   }